<footer>
    <div class="footer_inner">
        <div class="footer_inner_head">
            <p class="footer_inner_heading">
                You can’t stop time, but you can save it!
            </p>
            <p class="footer_inner_para">
                Living in the city, there is never enough time to shop for groceries, pick-up supplies, grab food and wade through traffic on the way back home. How about we take care of all of the above for you? What if we can give you all that time back? Send packages across the city and get everything from food, groceries, medicines and pet supplies delivered right to your doorstep. From any store to your door, just make a list and we’ll make it disappear. Just Dunzo It!
            </p>
        </div>
        <div class="footer_inner_body">
            <div class="footer_inner_body_logo">
                <a href="./index.html">
                    <img src="https://resources.dunzo.com/web-assets/prod/_next/static/images/logo-footer-a7423f59ce95bf41719960ee8314ff2d.png" alt="">
                </a>
            </div>
            <div class="dunzo_pages_head">
                <h4>
                    Dunzo
                </h4>
                <div class="dunzo_pages_list">
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            About
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Jobs
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Contact
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Terms & Conditions
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Privacy Policy
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Dunzo for partner
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Dunzo for business
                        </a>
                    </div>
                </div>
            </div>
            <div class="dunzo_pages_head">
                <h4>
                    Serviceable Cities
                </h4>
                <div class="dunzo_pages_list">
                    <div class="dunzo_pages_list_inner">
                        <a href="./banglore.html">
                            Banglore
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="./index.html">
                            Pune
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="./gurgaon.html">
                            Gurgaon
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="./hyderabad.html">
                            Hyderabad
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="./delhi.html">
                            New Delhi
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="./chennai.html">
                            Chennai
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="./mumbai.html">
                            Mumbai
                        </a>
                    </div>
                </div>
            </div>
            <div class="dunzo_pages_head">
                <h4>
                    Get in touch
                </h4>
                <div class="dunzo_pages_list">
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Email
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Twitter
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Facebook
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Instagram
                        </a>
                    </div>
                    <div class="dunzo_pages_list_inner">
                        <a href="#">
                            Linkedin
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer_image">
                <img src="https://resources.dunzo.com/web-assets/prod/_next/static/images/footer-mascot-37512998a23e1abed75aa6c883d8f0a1.png" alt="">
            </div>
        </div>
    </div>
</footer>