@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
body {
  background-color: #f0f5f7;
  font-family: "Gilroy-Regular", sans-serif;
}
a {
  text-decoration: none;
}
/* -------Header Start------- */
#header {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}
#logo {
  margin: auto;
  height: 30px;
  margin-left: 70px;
  cursor: pointer;
}
.material-icons {
  font-size: 35px;
}
#profile {
  cursor: pointer;
  margin: auto;
  margin-right: 80px;
  line-height: 0px;
  font-size: 13px;
}
hr {
  border: 1px solid rgb(235, 235, 235);
}
/* -------Header End------- */
/* -------Panels Box Start------- */
#panels {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin: auto;
  max-width: 1200px;
  /* display: none; */
}
#panel-l,
#panel-r {
  background-color: white;
  margin-top: 5%;
  border-radius: 10px;
}
#panel-l {
  width: 70%;
  margin-left: 7%;
  height: max-content;
}
#panel-r {
  width: 33%;
  margin-right: 7%;
  height: max-content;
}
#p-l-t {
  padding: 0 5% 5%;
}
#p-l-t-t {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#p-l-t-t p {
  color: #00d290;
  font-size: large;
  cursor: pointer;
}
#p-l-t > p {
  color: #8b8f88;
  font-size: 15px;
  line-height: 0;
}
#p-l-t-m {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
#p-l-t-m div {
  border-radius: 10px;
  width: 50%;
  padding: 5%;
}
#p-l-t-m div:nth-child(1) {
  border: 2px dashed gainsboro;
  color: #00d290;
  text-align: center;
  cursor: pointer;
}
#p-l-t-m div:nth-child(2) {
  border: 2px solid gainsboro;
}
#p-l-b {
  padding: 0 5% 5%;
  border-top: 10px solid #f0f5f7;
}
#p-l-b-t p {
  color: #8b8f88;
  line-height: 0;
}
#p-l-b-m {
  display: flex;
  gap: 20px;
}
/* ---------------------------------------- */
#payMethods {
  background-color: #f3f3f5;
  width: 40%;
}
#payMethods h4 {
  margin: 15px;
  margin-right: 0;
  padding: 20px;
  cursor: pointer;
}
#pm1 {
  background-color: white;
}
#payDisplay {
  border: 2px solid gainsboro;
  height: max-content;
  width: 60%;
  border-radius: 10px;
  padding: 4%;
  display: block;
}
#payDisplay div {
  display: flex;
  height: 40px;
}
#payDisplay div:nth-child(5) {
  gap: 10px;
}
#payDisplay div h4 {
  margin: auto 15px;
}
#payDisplay p:nth-child(2) {
  color: purple;
  font-size: 14px;
}
#payDisplay p:nth-child(4) {
  color: grey;
}
#payDisplay button {
  font-family: "Gilroy-Regular", sans-serif;
  background-color: #00d290;
  color: white;
  border: none;
  width: 45%;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
}
#pd4 {
  font-family: "Gilroy-Regular", sans-serif;
  border: 1px solid gainsboro;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  padding-left: 10px;
  display: none;
}
#pd4:focus {
  border: 2px solid #00d290;
}
#payDisplay2 {
  border: 2px dashed gainsboro;
  height: max-content;
  width: 60%;
  border-radius: 10px;
  padding: 4%;
  color: #00d290;
  text-align: center;
  display: none;
  cursor: pointer;
}
#p-r-t {
  margin: 0 5%;
}
#p-r-t-t {
  display: flex;
  justify-content: space-between;
}
#p-r-t-t p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}
#p-r-t-t p:nth-child(2) {
  color: gray;
  margin: auto 0;
}

/* ------- */
#p-r-t-b > div {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#addRemove {
  margin: auto;
  display: flex;
  border: 1px solid gainsboro;
  height: 25px;
  font-weight: bold;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
#addRemove button {
  cursor: pointer;
  height: 25px;
  border: none;
  font-size: 20px;
  background-color: white;
  color: #00b37a;
}
#addRemove button:nth-child(1) {
  color: red;
}
#addRemove p {
  margin: auto;
}
#priceIndividual {
  margin: auto;
  width: 55px;
  margin-right: 1px;
  text-align: center;
}
#nameIndividual {
  width: 150px;
}
/* -------- */
#p-r-m {
  padding: 5px;
  height: 35px;
  border-top: 10px solid #f0f5f7;
  display: flex;
  border-bottom: 10px solid #f0f5f7;
}
#p-r-m i {
  font-size: 20px;
  margin: auto 5%;
  margin-right: 2px;
}
#p-r-m input {
  /* padding-left: 10px; */
  font-family: "Gilroy-Medium", sans-serif;
  border: 0px solid white;
  width: 100%;
}
#p-r-b {
  margin: 0 5%;
}
#p-r-b i {
  font-size: 20px;
  margin: auto 0;
}
#p-r-b > div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 0;
}
/* -------Panels Box End- ------- */

#payModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#payForm {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#payForm > div {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
#close {
  margin-top: 0;
  cursor: pointer;
}
#payForm input {
  border: 1px solid gainsboro;
  height: 40px;
  border-radius: 7px;
  font-family: "Gilroy-Regular", sans-serif;
  padding-left: 10px;
  outline: none;
}
.ib {
  margin-left: 20px;
  width: 350px;
}
#finishBtn {
  font-family: "Gilroy-Regular", sans-serif;
  background-color: #00d290;
  color: white;
  border: none;
  width: 45%;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 110px;
}
#payForm input:focus {
  border: 2px solid #00d290;
}
#warning {
  margin: 15px 20px;
  color: red;
  font-size: 14px;
}
