{{#if error}}
    <p>{{error}}</p>
{{/if}}

<style>
    .fXWztH{
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 5px;   
    height: 45px; 
    width: 90%;
}
    .cdJpBq{
    width: 90%;
    background-color:rgb(0, 179, 122);
    padding: 15px 0 15px 0;
    border: none;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: white;
    font-size:14px;
    font-weight:600;
}
.eAoewq {
    font-weight: 500;
    font-size: 18px;
    color: rgb(111, 117, 136);
    margin-top: 4px;
}
</style>
<p class="eAoewq">We have sent you a verification code!</p>
<p class="eAoewq">Please enter the code here:</p>
<form method="post" action="/step3">
    <input type="hidden" name="id" value="{{id}}" />
    <input class="fXWztH" type="number" name="token" />
    <input class="cdJpBq" type="submit" value="Verify" />
</form>