
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<style>
    .hJmhal {
    font-size: 16px;
}
.ijdHun > :first-child {
    margin-right: 12px;
}
.VcBgx {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: rgb(141, 146, 165);
}
.blkMWR {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    fill: rgb(182, 186, 200);
    color: rgb(182, 186, 200);
}
.hQUGbR {
    border: none;
    flex: 1 1 0%;
    background-color: transparent;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    padding: 0px;
    margin-left: 10px;
    color: rgb(23, 30, 48);
}
.fcuFJl {
    box-sizing: border-box;
    margin-top: 10px;
    width:90%
}
.kwFteM {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.ijgaeu {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.fqkrJF {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.bGRteQ {
    display: none;
}
button, input {
    overflow: visible;
}
.kgcAcv {
    height: 20px;
    width: 20px;
    margin-right: 12px;
    flex-shrink: 0;
    fill: rgb(255, 255, 255);
    stroke: rgb(201, 205, 216);
    cursor: pointer;
}
*, :after, :before {
    box-sizing: border-box;
}
.bHjlpG {
    height: 20px;
    width: 20px;
    margin-right: 12px;
    flex-shrink: 0;
    stroke: rgb(255, 255, 255);
    fill: rgb(0, 210, 144);
    cursor: pointer;
}
.gfIuqu {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    user-select: none;
    color: rgb(23, 30, 48);
    margin-left: 8px;
    cursor: pointer;
}
.Rglgk {
    background-color: rgb(231, 232, 235);
    flex-shrink: 0;
    width: 2px;
    height: 21px;
}
.ldVXoJ {
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.jEDCOt {
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: rgb(0, 179, 122);
    margin-right: 5px;
}
.kutQys {
    fill: rgb(0, 179, 122);
    height: 11px;
    width: 8px;
}
.fXWztH{
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 5px;   
    height: 45px; 
    width: 90%;
}
.fXWztH svg{
    margin-left: 10px;
    margin-right: 5px;
}
.cdJpBq{
    width: 90%;
    background-color:rgb(0, 179, 122);
    padding: 15px 0 15px 0;
    border: none;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: white;
    font-size:14px;
    font-weight:600;
}
</style>
<form method="post" action="/step2">
     <div class="f7phya-2 ijdHun sc-1utbom9-16 hJmhal">
                        <div class="fXWztH"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="sc-64ptou-0 bXZuJi sc-1utbom9-12 VcBgx"><path d="M18.012 14.534c.21 0 .386.07.527.211.14.14.211.317.211.528v2.601c0 .586-.246.879-.738.879-3.492 0-6.492-1.254-9-3.762s-3.762-5.508-3.762-9c0-.492.293-.738.879-.738H8.73c.211 0 .387.07.528.21.14.141.21.317.21.528 0 .914.141 1.793.423 2.637.093.305.035.562-.176.773l-1.442 1.266c1.079 2.25 2.801 3.95 5.168 5.098l1.16-1.477a.716.716 0 01.528-.21c.117 0 .2.01.246.034a8.282 8.282 0 002.637.422z"></path></svg>
                       
                        <input  class="f7phya-0 hQUGbR" type="tel" name="number" placeholder="Enter Your Phone Number"/>
                        </div>
                        </div></div>
            <div class="sc-10mkyz7-0 fcuFJl"><div class="sc-10mkyz7-0 sc-1woi3cc-0 sc-1jo4k0i-0 kwFteM"><div class="sc-10mkyz7-0 sc-1woi3cc-0 sc-1jo4k0i-2 ijgaeu"><label for="tnc-accept-undefined" class="sc-1j9wo2f-0 fqkrJF sc-1jo4k0i-1 jFlPfc"><input id="tnc-accept-undefined" type="checkbox" name="accept-tnc" class="sc-1j9wo2f-1 bGRteQ"></rect></svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="sc-64ptou-0 faawBe sc-1j9wo2f-5 bHjlpG" style="width: 18px; height: 18px; margin: 0px;"><rect width="20" height="20" rx="4"></rect>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.167 14.683L4 10.517l1.175-1.175 2.992 2.983L15.492 5l1.175 1.183-8.5 8.5z" fill="#fff"></path></svg></label><label for="tnc-accept-undefined" class="ifgrmg-0 dglBgc sc-1jo4k0i-3 gfIuqu">I accept the Terms of Use &amp; Privacy Policy</label></div>
            <div width="2px" height="21px" class="sc-1wjh0ls-0 sc-1jo4k0i-6 Rglgk"></div><div class="sc-10mkyz7-0 sc-1woi3cc-0 ldVXoJ"><a href="/terms" target="_blank" class="jxbqi7-0 sc-1jo4k0i-4 jEDCOt">View T&amp;C</a><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 11" class="sc-64ptou-0 faawBe sc-1jo4k0i-5 kutQys"><polygon fill-rule="evenodd" stroke-width=".5" points="153 24.543 156.962 20.407 153 16.271 154.22 15 159.41 20.407 154.22 25.813" transform="translate(-152 -15)"></polygon></svg></div></div></div>
            <input class="cdJpBq" type="submit" value="Send code" />
</form>

