<!doctype html>
<html>
    <head>
        <title>Sign In</title>
         <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <style>
        body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
        }
        p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container {
      margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    box-shadow: 5px 10px 8px 10px #c5bebe;
    border-radius: 5px;
    box-sizing: border-box;
    width: 38%;
    margin:auto;
    padding-left: 20px;
    font-family: Gilroy,sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
}

.iGIpAX {
    margin-bottom: 24px;
}
.kqGtfW {
    box-sizing: content-box;
    width: 70px;
    height: 80px;
}
.eogQqB {
    box-sizing: border-box;
}
.dvhoyV {
    font-size: 25px;
    color: rgb(15, 25, 56);
    font-weight: 600;
    margin-top: 12px;
}
.eAoewq {
    font-weight: 500;
    font-size: 18px;
    color: rgb(111, 117, 136);
    margin-top: 4px;
}
.bMkicv {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 12px;
}
.eRgWvq {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    color: rgb(111, 117, 136);
    width: 100%;
}
.kzwGQk {
    color: rgb(255, 83, 83);
}
.hJmhal {
    font-size: 16px;
}
    </style>

    <body>
        <div class="container">
            <div class="sc-10mkyz7-0 sc-1woi3cc-0 sc-1brphmz-0 ixokJE">
                <div class="sc-10mkyz7-0 sc-1woi3cc-0 sc-1utbom9-0 hPwqXj">
                    <div class="sc-1utbom9-5 iGIpAX"><img src="https://resources.dunzo.com/web-assets/prod/_next/static/images/signin-icon-cb6e6a706f01b84896e60235a2392ac9.png" alt="" title="" width="56px" height="62px" class="sc-1go0t46-0 kqGtfW">
                    <div class="sc-10mkyz7-0 sc-1utbom9-6 eogQqB"><p class="sc-1gu8y64-0 BbwkM sc-1utbom9-3 dvhoyV">Sign in</p><p class="sc-1gu8y64-0 BbwkM sc-1utbom9-4 eAoewq">Get started with Dunzo</p></div></div>
                    <div class="sc-10mkyz7-0 sc-4qhu4m-0 bMkicv"><p width="100%" class="sc-1gu8y64-0 BbwkM sc-4qhu4m-1 eRgWvq"><span class="swl30-0 kzwGQk">*</span> Enter your phone number with country code</p>
        
{{{body}}}

        </div>
               
    </body>
</html>